body {
    background: url(background/1.png) no-repeat;
}

img {
    width: 100%;
}

.leftcliff1 {
    position: fixed;
    margin-left: -10px;
    width: 1280px;
    height: 800px;
    background: url(background/3.png) no-repeat;
    animation: lc1 1s forwards ease-in;
}

@keyframes lc1 {
    0% {
        background-position: -100vw;
    }
    100% {
        background-position: 0vw;
    }
}

.leftcliff {
    position: fixed;
    margin-left: -10px;
    width: 1280px;
    height: 800px;
    background: url(background/2.png) no-repeat;
    animation: lc 1s forwards ease-in;
}

@keyframes lc {
    0% {
        background-position: -100vw;
    }
    100% {
        background-position: 0vw;
    }
}

.backcliff {
    position: fixed;
    margin-left: -10px;
    width: 1280px;
    height: 800px;
    background: url(background/6.png) no-repeat;
    animation: bc 1s forwards ease-in;
}

@keyframes bc {
    0% {
        transform: translateY(-300vh);
    }
    100% {
        transform: translateY(0vh);
    }
}

.waterfall {
    position: fixed;
    margin-left: -10px;
    width: 1280px;
    height: 800px;
    background: url(background/4.png) no-repeat;
    animation: wf 1s forwards ease-in;
}

@keyframes wf {
    0% {
        transform: translateY(300vh);
    }
    100% {
        transform: translateY(0vh);
    }
}

.rightcliff {
    position: fixed;
    margin-left: -10px;
    width: 1280px;
    height: 800px;
    background: url(background/7.png) no-repeat;
    animation: rc 1s forwards ease-in;
}

@keyframes rc {
    0% {
        background-position: 500vw;
    }
    100% {
        background-position: 0vw;
    }
}

.rightcliff1 {
    position: fixed;
    margin-left: -10px;
    width: 1280px;
    height: 800px;
    background: url(background/8.png) no-repeat;
    animation: rc1 1s forwards ease-in;
}

@keyframes rc1 {
    0% {
        background-position: 500vw;
    }
    100% {
        background-position: 0vw;
    }
}

.water {
    position: fixed;
    margin-left: -10px;
    width: 1280px;
    height: 800px;
    background: url(background/5.png) no-repeat;
    animation: wt 1s forwards ease-in;
}

@keyframes wt {
    0% {
        transform: translateY(-300vh);
    }
    100% {
        transform: translateY(0vh);
    }
}

.title {
    position: fixed;
    margin-left: -10px;
    width: 1280px;
    height: 800px;
    background: url(background/title.png) no-repeat;
    animation: ttl 2s forwards ease-out;
}

@keyframes ttl {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.start {
    position: fixed;
    margin-left: -10px;
    width: 1280px;
    height: 800px;
    background: url(background/start.svg) no-repeat;
    animation: str 2.5s 1s forwards ease-out;
}

@keyframes str {
    0% {
        opacity: 0;

    }
    100% {
        opacity:1;
    }
}


/*.man{
    margin: auto;
    width: 220px;
    height: 411px;
    background-image: url(spritesheet.png);
    background-position: 0;
    animation: walk 1s infinite steps(8);
    transform: translateY(11vh) scaleX(-1);
        filter: FlipH;

}

@keyframes walk{
    to{
        background-position: -1761px 0px;
        /* 1761 because of picture width
    }
}
*/
