    body {
        background: url(background/1.png) no-repeat;
        background-attachment: fixed;
        background-size: 1280px 800px;
    }

    img {
        width: 100%;
    }

    .leftcliff1 {
        position: fixed;
        margin-left: -10px;
        width: 1280px;
        height: 800px;
        background: url(background/3.png) no-repeat;
        animation: lc1 1.5s forwards ease-out;
    }

    @keyframes lc1 {
        0% {
            background-position: -100vw;
        }
        100% {
            background-position: 0vw;
        }
    }

    .leftcliff {
        position: fixed;
        margin-left: -10px;
        width: 1280px;
        height: 800px;
        background: url(background/2.png) no-repeat;
        animation: lc 1.5s forwards ease-out;
    }

    @keyframes lc {
        0% {
            background-position: -100vw;
        }
        100% {
            background-position: 0vw;
        }
    }

    .backcliff {
        position: fixed;
        margin-left: -10px;
        width: 1280px;
        height: 800px;
        background: url(background/6.png) no-repeat;
        animation: bc 1.5s forwards ease-out;
    }

    @keyframes bc {
        0% {
            transform: translateY(-300vh);
        }
        100% {
            transform: translateY(0vh);
        }
    }

    .waterfall {
        position: fixed;
        left: -10px;
        width: 341px;
        height: 800px;
        background-position: bottom;
        background: url(background/waterfall_800.png) no-repeat;
        animation: wtanim 1s infinite steps(6);
        transform: translateY(11vh);
    }

    @keyframes wtanim {
        to {
            background-position: -2044px 0px;
        }
    }

    .rightcliff {
        position: fixed;
        margin-left: -10px;
        width: 1280px;
        height: 800px;
        background: url(background/7.png) no-repeat;
        animation: rc 1.5s forwards ease-out;
    }

    @keyframes rc {
        0% {
            background-position: 500vw;
        }
        100% {
            background-position: 0vw;
        }
    }

    .rightcliff1 {
        margin-bottom: 200px;
        position: fixed;
        margin-left: -10px;
        width: 1280px;
        height: 800px;
        background: url(background/8.png) no-repeat;
        animation: rc1 1.5s forwards ease-out;
    }

    @keyframes rc1 {
        0% {
            background-position: 500vw;
        }
        100% {
            background-position: 0vw;
        }
    }

    .water {
        position: fixed;
        margin-left: -10px;
        width: 1280px;
        height: 800px;
        background: url(background/5.png) no-repeat;
        animation: wt 1.5s forwards ease-out;
    }

    @keyframes wt {
        0% {
            transform: translateY(-300vh);
        }
        100% {
            transform: translateY(0vh);
        }
    }

    .sun {
        position: fixed;
        margin-left: -10px;
        width: 1280px;
        height: 800px;
        background: url(background/9.png) no-repeat;
        animation: rc 2.5s forwards cubic-bezier(0, .67, .12, 1);
    }

    @keyframes rc {
        0% {
            background-position: 1500vw;
        }
        100% {
            background-position: 0vw;
        }
    }

    .title {
        position: fixed;
        margin-left: -10px;
        width: 1280px;
        height: 800px;
        background: url(background/title.png) no-repeat;
        animation: ttl 2s forwards ease-out;
    }

    @keyframes ttl {
        0% {
            opacity: 0;
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }

    .start {
        position: fixed;
        margin: auto;
        width: 100%;
        height: 100%;
        background: url(background/start.svg) no-repeat;
        animation: str 3s forwards ease-out;
    }

    @keyframes str {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .sparkwater {
        margin-top: 530px;
        position: fixed;
        left: 100px;
        width: 413px;
        height: 300px;
        background-image: url(background/clouds.png);
        animation: upndown 1s infinite steps(5);
    }

    @keyframes upndown {
        to {
            background-position: -2063px 0px;
            /* 1761 because of picture width*/
        }
    }

    #myDIV {
        position: fixed;
        width: 100%;
        height: 100%;
        display: none;
        animation: newback 1s forwards;
    }

    @keyframes newback {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .walk {
        position: fixed;
        top: 100px;
        width: 231px;
        height: 411px;
        background-image: url(spritesheet.png);
        background-position: 0;
        animation: walk 1s forwards steps(8);
        filter: FlipH;
    }

    @keyframes walk {
        0% {
            transform: translateX(1400px) scaleX(-1);
            ;
            background-position: -1761px 0px;
            /* 1761 because of picture width*/
        }
        100% {
            transform: translateX(600px) scaleX(-1);
            ;
        }
    }
